// @import "./common.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #020507;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#root {
  margin: auto;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: px(100);
}

.header-content {
  width: px(645);
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $part-bg;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    width: px(10);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid $primary-border-color;
  }
  &::after {
    content: '';
    width: px(10);
    position: absolute;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid $primary-border-color;
  }
  .title {
    margin: 0;
    font-size: 1.8em;
    color: #d2dcdc;
    text-shadow: 0 0 0.6em #94d1d4;
  }
  .triangle-wrap {
    width: px(50);
    height: px(100);
    overflow: hidden;
    position: absolute;
    top: 0;
    &.left {
      right: px(-50);
    }
    &.right {
      left: px(-50);
    }
    .triangle-left, .triangle-right {
      height: px(100);
      width: px(200);
      position: absolute;
      bottom: -1px;
      border: 1px solid $border-color;
      background-color: $part-bg;
    }
    .triangle-left {
      left: 0;
      transform-origin: bottom left;
      transform: rotate(-63.5deg);
    }
    .triangle-right {
      right: 0;
      transform-origin: bottom right;
      transform: rotate(63.5deg);
    }

    .sub-triangle-wrap {
      position: absolute;
      bottom: 0;
      width: px(10);
      height: px(10);
      overflow: hidden;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      .sub-triangle-left, .sub-triangle-right {
        width: px(20);
        height: px(10);
        position: absolute;
        bottom: -0.7px;
        border: 1px solid $primary-border-color;
      }
      .sub-triangle-left {
        left: 0;
        transform-origin: bottom left;
        transform: rotate(-63.5deg);
      }
      .sub-triangle-right {
        right: 0;
        transform-origin: bottom right;
        transform: rotate(63.5deg);
      }
    }
  }  
}
