@import "./common.scss";

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: px(100);
}

.header-content {
  width: px(645);
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $block-bg;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    width: px(10);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid $primary-border-color;
  }
  &::after {
    content: '';
    width: px(10);
    position: absolute;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid $primary-border-color;
  }
  .title {
    margin: 0;
    font-size: 1.8em;
    color: #d2dcdc;
    text-shadow: 0 0 0.6em #94d1d4;
  }
  .triangle-wrap {
    width: px(50);
    height: px(100);
    overflow: hidden;
    position: absolute;
    top: 0;
    &.left {
      right: px(-50);
    }
    &.right {
      left: px(-50);
    }
    .triangle-left, .triangle-right {
      height: px(100);
      width: px(200);
      position: absolute;
      bottom: -1px;
      border: 1px solid $border-color;
      background-color: $block-bg;
    }
    .triangle-left {
      left: 0;
      transform-origin: bottom left;
      transform: rotate(-63.5deg);
    }
    .triangle-right {
      right: 0;
      transform-origin: bottom right;
      transform: rotate(63.5deg);
    }

    .sub-triangle-wrap {
      position: absolute;
      bottom: 0;
      width: px(10);
      height: px(10);
      overflow: hidden;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      .sub-triangle-left, .sub-triangle-right {
        width: px(20);
        height: px(10);
        position: absolute;
        bottom: -0.7px;
        border: 1px solid $primary-border-color;
      }
      .sub-triangle-left {
        left: 0;
        transform-origin: bottom left;
        transform: rotate(-63.5deg);
      }
      .sub-triangle-right {
        right: 0;
        transform-origin: bottom right;
        transform: rotate(63.5deg);
      }
    }
  }  
}

.app-main {
  background-color: #fff;
  display: grid;
  flex: 1;
  grid-template:
    "box1 box2 box4 box5" 755fr
    "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
  grid-column-gap: px(28);
  grid-row-gap: px(28);
  > .section1 {
    grid-area: box1;
    background: pink;
  }
  > .section2 {
    grid-area: box2;
    background: lightgray;
  }
  > .section3 {
    grid-area: box3;
    background: lightblue;
  }
  > .section4 {
    grid-area: box4;
    background: lightcyan;
  }
  > .section5 {
    grid-area: box5;
    background: lightyellow;
  }
}
