@function px($n){
  @return $n / 2420 * 100rem;
}

// $part-bg: rgba(74, 157, 165, 0.1);
$part-bg: rgba(255, 255, 255, 0.05);
// $border-color: rgba(21, 109, 147, 0.4);
$border-color: rgba(4, 197, 223, 0.2);

$primary-border-color: rgba(0, 122, 192);