// @import "./common.scss";


$part-border-size: 1px;
// px(363);
.app-main {
  display: grid;
  flex: 1;
  grid-template:
    "box1 box4 box4 box7" 1fr
    "box2 box4 box4 box8" 1fr
    "box3 box5 box6 box9" 1fr / 35fr 25fr 25fr 35fr;
  grid-column-gap: px(28);
  grid-row-gap: px(28);
  padding: px(28);
  > .section1 {
    grid-area: box1;
  }
  > .section2 {
    grid-area: box2;
  }
  > .section3 {
    grid-area: box3;
  }
  > .section4 {
    grid-area: box4;
  }
  > .section5 {
    grid-area: box5;
  }
  > .section6 {
    grid-area: box6;
  }
  > .section7 {
    grid-area: box7;
  }
  > .section8 {
    grid-area: box8;
  }
  > .section9 {
    grid-area: box9;
  }
}

.app-main .part {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $border-radius;
  border: $part-border-size solid $border-color;
  background-color: $part-bg;
  box-shadow: inset 0 0 10px 10px rgba(17, 106, 134, 0.1);

  .part-title {
    text-align: left;
    color: #19b0d6;
    font-size: px(26);
    line-height: px(32);
    padding: 0 px(32);
    margin-bottom: -1 * px(20);
    display: flex;
    align-items: center;
  }
  .chart {
    width: 100%;
    flex: 1;
  }
  .corner-mark-wrap {
    position: absolute;
    width: px(10);
    height: px(10);
    overflow: hidden;
    .corner-mark {
      width: calc(px(10) + $part-border-size);
      height: calc(px(10) + $part-border-size);
      position: absolute;
      border: $part-border-size solid $primary-border-color;
    }
    &.top-left {
      top: -1px;
      left: -1px;
      .corner-mark {
        top: 0;
        left: 0;
        border-top-left-radius: $border-radius;
      }
    }
    &.top-right {
      top: -1 * $part-border-size;
      right: -1 * $part-border-size;
      .corner-mark {
        top: 0;
        right: 0;
        border-top-right-radius: $border-radius;
      }
    }
    &.bottom-left {
      bottom: -1 * $part-border-size;
      left: -1 * $part-border-size;
      .corner-mark {
        bottom: 0;
        left: 0;
        border-bottom-left-radius: $border-radius;
      }
    }
    &.bottom-right {
      bottom: -1 * $part-border-size;
      right: -1 * $part-border-size;
      .corner-mark {
        bottom: 0;
        right: 0;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

.app-main .part {
  &.distribution {
    display: grid;
    grid-template:
      "box1 box1" 25fr
      "box2 box3" 75fr / 30fr 70fr;
    .part-title {
      grid-area: box1;
    }
    .total {
      padding-top: px(32);
      padding-left: px(32);
      padding-bottom: px(32);
      grid-area: box2;
    }
    .total-item {
      height: 50%;
      display: flex;
      flex-direction: column;
      font-size: px(18);
      color: $font-color;
      .total-header {
        display: flex;
        align-items: center;
      }
      .square {
        width: px(15);
        height: px(15);
        border-radius: 2px;
        background: linear-gradient(180deg, rgba(24,209,253,1) 0%, rgba(27,150,246,1) 100%);
      }
      .title {
        padding-left: px(15);
        white-space: nowrap;
      }
      .quantity {
        padding-top: px(10);
        padding-left: px(30);
        text-align: left;
        font-size: px(36);
        font-weight: 700;
      }
    }
    .chart {
      grid-area: box3;
    }
  }
}