// @import "./common.scss";

.app-main {
  display: grid;
  flex: 1;
  grid-template:
    "box1 box2 box4 box5" 755fr
    "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
  grid-column-gap: px(28);
  grid-row-gap: px(28);
  padding: px(28);
  > .section1 {
    grid-area: box1;
  }
  > .section2 {
    grid-area: box2;
  }
  > .section3 {
    grid-area: box3;
  }
  > .section4 {
    grid-area: box4;
  }
  > .section5 {
    grid-area: box5;
  }
}


.app-main .part {
  display: flex;
  flex-direction: column;
  // align-items: center;
  position: relative;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $part-bg;
  box-shadow: inset 0 0 10px 10px rgba(17, 106, 134, 0.1);

  .part-title {
    // color: $font-color;
    text-align: left;
    color: #19b0d6;
    font-size: px(20);
    font-weight: 700;
    line-height: px(24);
    padding: px(22) px(20);
    // border: 1px solid $border-color;
    // border-top: none;
  }
  .chart {
    width: 100%;
    flex: 1;
  }
  .corner-mark-wrap {
    position: absolute;
    width: px(10);
    height: px(10);
    overflow: hidden;
    .corner-mark {
      width: calc(px(10) + 1px);
      height: calc(px(10) + 1px);
      position: absolute;
      border: 1px solid $primary-border-color;
    }
    &.top-left {
      top: -1px;
      left: -1px;
      .corner-mark {
        top: 0;
        left: 0;
        border-top-left-radius: $border-radius;
      }
    }
    &.top-right {
      top: -1px;
      right: -1px;
      .corner-mark {
        top: 0;
        right: 0;
        border-top-right-radius: $border-radius;
      }
    }
    &.bottom-left {
      bottom: -1px;
      left: -1px;
      .corner-mark {
        bottom: 0;
        left: 0;
        border-bottom-left-radius: $border-radius;
      }
    }
    &.bottom-right {
      bottom: -1px;
      right: -1px;
      .corner-mark {
        bottom: 0;
        right: 0;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

.app-main .part {
  &.domination {
    height: px(315);
  }
}